body{
  background-color: black;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
}
#bird{
  /*width: 100px;*/
  left: 0px;
  /*position: absolute;*/
}
.border{
  border: 2px dotted red;
}
#upper-box{
  height: 300px;
}
#box{
  /*position: a;*/
  height: 200px;
  /*height: 200px;*/
  /*margin-top: 300px;*/
}
#animation{
  color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  opacity: 0;
  top: 200px;
  font-size: 4em;
}
.learn-more{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  width: 200px;
  height: 50px;
  top: 350px;
  opacity: 0;
    display: block;
    overflow: hidden;
  cursor: pointer;
}

.learn-more-background1{
  background: -webkit-linear-gradient(left, red, red, red, white, white, white, white);
  position: relative;
  top: 0;
  left: 0;
  width: 800px;
  height: 46px;
  transition: all 0.3s ease-in-out;
}

.learn-more-background1:hover{
  transition: all 0.3s ease-in-out;
  left: -400px;
}

.learn-more-text1{
  color: white;
  position: absolute;
  pointer-events: none;
  top: -12px;
  left: 20px;
}
.learn-more-text2{
  color: red;
  position: absolute;
  pointer-events: none;
  top: -12px;
  left: 520px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.bar{
  background-color: #8B0000;
  width: 5px;
  position: absolute;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

}
#bar1{
  height: 50px;
  left: -550px;
  top: 230px;
}
#bar2{
  height: 30px;
  left: -570px;
  top: 250px;
}
#bar3{
  height: 80px;
  left: -590px;
  top: 200px;
}
.white-circle{
  width: 75px;
  height: 75px;
  background-color: white;
  z-index: 7;
  position: absolute;
  top: 50px;
  right: 0;
  opacity: 0;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
/*  transform: scale(1);
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;*/
}
/*.white-circle:hover{
    transform: scale(1.1);
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
}*/
.black-circle{
  width: 75px;
  height: 75px;
  background-color: black;
  z-index: 5;
  position: absolute;
  top: 50px;
  right: 0;
  opacity: 0;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}
.expanding-circle{
  width: 75px;
  height: 75px;
  background-color: white;
  z-index: 2;
  position: absolute;
  top: 50px;
  right: 0;
  opacity: 0;
  border-radius: 50%;
  /*cursor: pointer;*/
  text-align: center;
  /*border: 2px solid red;*/
}
.menu-bar{
  position: absolute;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 30px;
  height: 5px;
  border-radius: 20%;
  background-color: black;
}
.fa-times{
  position: absolute;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: white;
  top: 30%;
  opacity: 0;
}
.menu1{
  top: 35%;
}
.menu2{
  top: 50%;
}
.menu3{
  top: 65%;
}


